{% extends 'layout.html' %}
{% block content %}
    <h1>{{title}}</h1>
    <br>
    <br>
        <div class="row">
            <div class="col-sm-3">
                {% from "_formHelper.html" import render_field %}
                <form action="" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.text_input.label(class="control-label") }}
                        {{render_field(form.text_input, class="form-control",
                            style="resize:none",
                            placeholder="Here...", title="Input Letter")}}
                    </div>

                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary btn-block btn-flat") }}
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <h3>Results for <b>{{val}}</b>:</h3>
                <p class="text-justify">
                    {{output}}
                </p>
            </div>
        </div>
{% endblock %}
