<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
    {% block content %}

    {% endblock %}
    </div>
    <script src="{{ url_for('static', filename = 'bootstrap.js') }}"></script>
</body>
</html>